.DS_Store
*.pyc
*.egg-info
*.swp
tags
hrms/docs/current
node_modules/
dist/
__pycache__/

# build/
.vscode
.vs
node_modules
*debug.log
hrms/docs/current

# Ignore public folder EXCEPT frontend (pre-built assets)
hrms/public/*
!hrms/public/frontend/
!hrms/public/js/
!hrms/public/.gitkeep
