{%- set employee = frappe.get_cached_doc("Employee", doc.employee) -%}
{%- set config = frappe.db.get_value(
	"Swiss Social Insurance Config",
	{"company": doc.company, "is_default": 1},
	["lohnausweis_employer_name", "lohnausweis_employer_address"],
	as_dict=True
) or {} -%}
{%- set fiscal_year = frappe.get_cached_doc("Fiscal Year", doc.fiscal_year) -%}
{%- set barcode_data = frappe.call(
	"hrms.payroll.doctype.swiss_salary_certificate.swiss_salary_certificate.get_barcode_data_for_print",
	name=doc.name
) -%}

{%- macro fmt_amount(val) -%}
{% if val %}{{ "{:,.0f}".format(val).replace(",", "'") }}{% endif %}
{%- endmacro -%}

<style>
.print-format { padding: 0mm !important; margin: 0mm !important; }
.print-format .form11 table td,
.print-format .form11 table th { padding: 1px 8px !important; }
.form11 { height: 297mm !important; overflow: hidden; box-sizing: border-box; }
@media print {
	.print-format { width: 210mm !important; height: 297mm !important; padding: 0mm !important; }
	.form11 { height: 297mm !important; margin-top: -6mm !important; background-position-y: -5px !important; }
	.firstSpacer { height: 10px; }
	.footerTable { height: 90px !important; }
}
</style>

<div class="form11" style="position: relative;">
	<!-- Page indicator -->
	<div style="position: absolute; right: 10px; top: 5px; font-size: 9pt;">
		Page 1/{% if barcode_data and barcode_data.page_count > 1 %}{{ barcode_data.page_count + 1 }}{% else %}1{% endif %}
	</div>
	<div class="firstSpacer"></div>
	<!-- A: Salary certificate checkbox -->
	<table class="firstTable" style="margin-left: 75px;height: 18px;margin-top: 7px;">
		<tr>
			<td style="padding-top: 0px !important; padding-bottom: 0px !important;">
				{% if doc.certificate_type == "Salary" %}X{% else %}&nbsp;{% endif %}
			</td>
		</tr>
	</table>
	<!-- B: Pension certificate checkbox -->
	<table style="margin-left: 75px; margin-top: 2px; height: 24px; ">
		<tr>
			<td style="padding-top: 5px !important; padding-bottom: 2px !important;">
				{% if doc.certificate_type == "Pension" %}X{% else %}&nbsp;{% endif %}
			</td>
		</tr>
	</table>
	<!-- C: AVS number, Date of birth, Free transport -->
	<table style="margin-left: 75px; margin-top: 4px; height: 24px; ">
		<tr>
			<td style="width: 195px; padding: 1px 8px !important; ">
				{{ doc.avs_number or '' }}
			</td>
			<td style="width: 215px; padding: 1px 8px !important; ">
				{% if doc.date_of_birth %}{{ frappe.utils.get_datetime(doc.date_of_birth).strftime('%d.%m.%Y') }}{% endif %}
			</td>
			<td style="padding: 1px 4px !important; ">
				{% if doc.free_transport == 1 %}X{% else %}&nbsp;{% endif %}
			</td>
		</tr>
	</table>
	<!-- D: Year, Period, Lunch checks -->
	<table style="margin-left: 75px; margin-top: 10px; height: 24px; ">
		<tr>
			<td style="padding-left: 3px !important; padding-top: 4px !important; padding-bottom: 1px 8px !important; width: 145px; ">
				{% if fiscal_year %}{{ frappe.utils.get_datetime(fiscal_year.year_start_date).strftime('%Y') }}{% endif %}
			</td>
			<td style="padding-left: 3px !important; padding-top: 4px !important; padding-bottom: 1px 8px !important; width: 100px; ">
				{% if fiscal_year %}{{ frappe.utils.get_datetime(fiscal_year.year_start_date).strftime('%d.%m.') }}{% endif %}
			</td>
			<td style="padding-left: 3px !important; padding-top: 4px !important; padding-bottom: 1px 8px !important; width: 165px; ">
				{% if fiscal_year %}{{ frappe.utils.get_datetime(fiscal_year.year_end_date).strftime('%d.%m.') }}{% endif %}
			</td>
			<td style="padding-left: 3px !important; padding-top: 4px !important; padding-bottom: 1px 8px !important; ">
				{% if doc.lunch_checks == 1 %}X{% else %}&nbsp;{% endif %}
			</td>
		</tr>
	</table>

	<!-- H: Employee name, address and barcode -->
	<table style="margin-left: 75px; margin-top: 35px; height: 130px; width: 690px; ">
		<tr>
			<td style="width: 260px; vertical-align: top; padding: 2px !important; ">
				{% if barcode_data and barcode_data.pdf417_images %}
				<img src="data:image/png;base64,{{ barcode_data.pdf417_images[0] }}"
					style="max-width: 250px; max-height: 120px; image-rendering: pixelated;" />
				{% endif %}
			</td>
			<td style="vertical-align: top; padding: 2px 8px !important; ">
				{{ doc.employee_name }}<br>
				{% if employee.permanent_address %}
				{{ employee.permanent_address.replace("\n", "<br>") }}
				{% elif employee.current_address %}
				{{ employee.current_address.replace("\n", "<br>") }}
				{% endif %}
			</td>
		</tr>
	</table>

	<!-- MAIN POSITIONS -->

	<!-- 1. Salary -->
	<table style="margin-left: 75px; width: 690px; margin-top: 95px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_1_salary) }}</td>
		</tr>
	</table>
	<!-- 2.1 Other benefits -->
	<table style="margin-left: 75px; width: 690px; margin-top: 2px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_2_1_other_benefits) }}</td>
		</tr>
	</table>
	<!-- 2.2 Board and lodging -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_2_2_board_lodging) }}</td>
		</tr>
	</table>
	<!-- 2.3 Other fringe benefits -->
	<table style="margin-left: 75px; width: 690px; margin-top: 0px; height: 22px; ">
		<tr>
			<td style="width: 280px; padding: 1px 8px !important; "></td>
			<td style="width: 310px; padding: 1px 8px !important; ">{{ doc.position_2_3_description or '&nbsp;' }}</td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_2_3_other_fringe) }}</td>
		</tr>
	</table>
	<!-- 3. Irregular benefits -->
	<table style="margin-left: 75px; width: 690px; margin-top: 25px; height: 22px; ">
		<tr>
			<td style="width: 10px; padding: 1px 8px !important; "></td>
			<td style="width: 580px; padding: 1px 8px !important; ">{{ doc.position_3_description or '&nbsp;' }}</td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_3_irregular_benefits) }}</td>
		</tr>
	</table>
	<!-- 4. Capital benefits -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 310px; padding: 1px 8px !important; "></td>
			<td style="width: 300px; padding: 1px 8px !important; ">{{ doc.position_4_description or '&nbsp;' }}</td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_4_capital_benefits) }}</td>
		</tr>
	</table>
	<!-- 5. Ownership rights -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_5_ownership_rights) }}</td>
		</tr>
	</table>
	<!-- 6. Board of directors -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_6_board_of_directors) }}</td>
		</tr>
	</table>
	<!-- 7. Other income -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 280px; padding: 1px 8px !important; "></td>
			<td style="width: 310px; padding: 1px 8px !important; ">{{ doc.position_7_description or '&nbsp;' }}</td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_7_other_income) }}</td>
		</tr>
	</table>
	<!-- 8. Gross income (total) -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_8_gross_income) }}</td>
		</tr>
	</table>

	<!-- DEDUCTIONS -->

	<!-- 9. AVS/AC/AANP -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_9_avs_ac_aanp) }}</td>
		</tr>
	</table>
	<!-- 10.1 BVG regular -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_10_1_bvg_regular) }}</td>
		</tr>
	</table>
	<!-- 10.2 BVG buy-back -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_10_2_bvg_buyback) }}</td>
		</tr>
	</table>
	<!-- 11. Net salary -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_11_net_salary) }}</td>
		</tr>
	</table>
	<!-- 12. Withholding tax -->
	<table style="margin-left: 75px; width: 690px; margin-top: 11px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_12_withholding_tax) }}</td>
		</tr>
	</table>

	<!-- EXPENSES -->

	<!-- 13.1.1 Effective travel expenses -->
	<table style="margin-left: 75px; width: 690px; margin-top: 24px; height: 22px; ">
		<tr>
			<td style="width: 524px; padding: 1px 0px !important; "></td>
			<td style="width: 50px; padding: 1px 8px !important; ">
				{% if doc.position_13_1_1_travel_check == 1 %}X{% else %}&nbsp;{% endif %}
			</td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_13_1_1_travel) }}</td>
		</tr>
	</table>
	<!-- 13.1.2 Other effective expenses -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 280px; padding: 1px 8px !important; "></td>
			<td style="width: 310px; padding: 1px 8px !important; ">{{ doc.position_13_1_2_description or '&nbsp;' }}</td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_13_1_2_other_effective) }}</td>
		</tr>
	</table>
	<!-- 13.2.1 Representation expenses -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_13_2_1_representation) }}</td>
		</tr>
	</table>
	<!-- 13.2.2 Car expenses -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_13_2_2_car) }}</td>
		</tr>
	</table>
	<!-- 13.2.3 Other flat-rate expenses -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 280px; padding: 1px 8px !important; "></td>
			<td style="width: 310px; padding: 1px 8px !important; ">{{ doc.position_13_2_3_description or '&nbsp;' }}</td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_13_2_3_other_flat) }}</td>
		</tr>
	</table>
	<!-- 13.3 Education / Training -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 590px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_13_3_education) }}</td>
		</tr>
	</table>
	<!-- 14. Employer contributions / Other -->
	<table style="margin-left: 75px; width: 690px; margin-top: 1px; height: 22px; ">
		<tr>
			<td style="width: 220px; padding: 1px 8px !important; "></td>
			<td style="width: 370px; padding: 1px 8px !important; ">{{ doc.position_14_description or '&nbsp;' }}</td>
			<td style="padding: 1px 8px !important; text-align: right; ">{{ fmt_amount(doc.position_14_employer_contributions) }}</td>
		</tr>
	</table>
	<!-- 15. Remarks -->
	<table style="margin-left: 75px; width: 710px; margin-top: 20px; height: 22px; ">
		<tr>
			<td style="width: 80px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; ">{{ doc.position_15_remarks or '&nbsp;' }}</td>
		</tr>
	</table>

	<!-- Footer: Date, Signature, Company info -->
	<table class="footerTable" style="margin-left: 75px;width: 690px;height: 85px;margin-top: 20px;">
		{%- set company_doc = frappe.get_cached_doc("Company", doc.company) -%}
		<tr>
			<td style="width: 230px; padding: 1px 8px !important; "><br>
			{% if doc.posting_date %}{{ frappe.utils.get_datetime(doc.posting_date).strftime('%d.%m.%Y') }}{% endif %}
			</td>
			<td style="width: 270px; padding: 1px 8px !important; "></td>
			<td style="padding: 1px 8px !important; font-size: 8pt; ">
			{{ config.get("lohnausweis_employer_name") or doc.company }}<br>
			{{ (config.get("lohnausweis_employer_address") or "")|replace("\n", "<br>") }}
			</td>
		</tr>
	</table>
</div>

<!-- eCH-0270 Barcode — additional pages for multi-barcode or CODE128C -->
{% if barcode_data and barcode_data.pdf417_images %}
	{% if barcode_data.page_count > 1 %}
		{# Multiple barcodes (Structured Append): first is in form, rest on separate pages #}
		{% for barcode_img in barcode_data.pdf417_images[1:] %}
<div style="page-break-before: always;"></div>
<div style="text-align: center; padding-top: 15mm; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
	<h2 style="font-size: 14pt; font-weight: 700; margin: 0 0 4px 0;">{{ _("Salary Certificate") }} / Lohnausweis</h2>
	<div style="font-size: 9pt; color: #666; margin-bottom: 16px;">
		{{ _("Barcode Page") }} ({{ loop.index + 1 }}/{{ barcode_data.page_count }})
		&mdash; {{ doc.employee_name }} &mdash; {{ doc.fiscal_year }}
	</div>
	<div style="margin: 10mm auto; padding: 5mm;">
		<img src="data:image/png;base64,{{ barcode_img }}"
			style="max-width: 180mm; image-rendering: pixelated;"
			alt="PDF417 eCH-0270" />
	</div>
	<div style="margin-top: 10mm;">
		<img src="data:image/png;base64,{{ barcode_data.code128c_image }}"
			style="height: 12mm;" alt="CODE128C" />
		<div style="font-family: monospace; font-size: 9pt; margin-top: 3mm; letter-spacing: 1px;">
			{{ barcode_data.identifier }}
		</div>
	</div>
</div>
		{% endfor %}
	{% endif %}
{% endif %}
